<!DOCTYPE html>
<html lang="en">

<head>
    <title>New Post Form</title>
</head>

<body>

        <% if (post.errors) { %>
            <h2>Errors found in form</h2>
            <ul>
                <% for (let msg of Object.values(post.errors)) { %>
                    <li><%= msg %></li>
                <% } %>
            </ul>
        <% } %>
    

    <form action="/posts" method="POST" enctype="multipart/form-data">
        <div>
            <label for="postText">
                <span> text</span> <br/>
                <%= user.name %>:
                <textarea id="postText" name="text"><%= post.text %></textarea>
            </label>
        </div>

        <div>
            <label>
                Color:
                <input type="color" name="color" value="<%= post.color %>" />
            </label>
        </div>

        <br/>

        <div>
            <label for="topics">
                Topics - separated by comma:
                <input id="topics" type="text" name="topics" value=""/>
            </label>
        </div>

        <div>
            <input type="checkbox" name="isGuarded" id="isGuarded">
            <label for="isGuarded">Private post mode</label>
        </div>

        <div id="permittedUsersDiv" style="display: none;">
            <label for="permittedUsers">
                Permitted Usernames - separated by comma:
                <input id="permittedUsers" type="text" name="permittedUsers"
                       style="width: 150px; height: 25px;"
                       value="" placeholder="u1,u2,u3..."/>
            </label>
        </div>

        <div>
            <label>
                Image:
                <input type="file" name="postpic" accept="image/*" />
            </label>
        </div>

        <input type="submit" value="Create" />
    </form>
        <script>
            const privateModeCheckbox = document.querySelector('#isGuarded');
            const permittedUsersDiv = document.querySelector('#permittedUsersDiv');
            privateModeCheckbox.addEventListener('click', function(e) {
                if (this.checked) {
                    permittedUsersDiv.style.display = 'block';
                }
                else {
                    permittedUsersDiv.style.display = "none";
                }
            })
        </script>
</body>

</html>
