<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= title %></h1>
  <% if (user) { %>
    <p>Nice to see you: <%= user.name %>, <%= user.email %></p>
    <p>
      <a href='/users/edit'>Edit user</a>
    </p>
    <form action="/sessions/logout" method="POST">
      <input type="submit" value="Logout" />
    </form>
  <% } else { %>
    <a href='/sessions/new'>Login</a>
  <% } %>
</body>
</html>
